@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-de-fundo: #1A2944;
    --cor-de-texto: #CBD5D2;
    --cor-de-destaque: #2DA7C7;
    --cor-de-sombra: #24375c;
    --cor-extra: #98C4C9;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
}
.cabecalho{
    padding: 2% 10%;
}
.cabecalho-navegacao{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.cabecalho-navegacao a{
    text-decoration: none;
    color: var(--cor-de-destaque);
    transition: 0.3s
}
.cabecalho-navegacao a:hover{
    letter-spacing: 2px;
}
.conteudo{
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-principal{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.conteudo-principal-titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}
.conteudo-principal-texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.conteudo-principal-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.conteudo-principal-links a{
    text-decoration: none;
    color: var(--cor-de-texto);
    border: 2px solid var(--cor-de-destaque);
    border-radius: 12px;
    text-align: center;
    padding: 21.5px 0px;
    width: 80%;
    transition: 0.3s;
}
.conteudo-principal-links a:hover{
    background-color: var(--cor-de-sombra);
    letter-spacing: 2px;
}
.conteudo-principal-titulo-destaque{
    color: var(--cor-de-destaque);
}
.rodape{
    padding: 2% 10%;
    text-align: center;
    background-color: var(--cor-extra);
}
.rodape-texto{
    color: black;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}